<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="140"
    alt="MZ Logo"
    src="../assets/MZ.png"
  />
  <h2>Currency Converter</h2>
    <div class="spacer"></div>
    <div class="card-container">
      <!-- CAD to Other Currencies -->
      <div class="card card-small" >
        <a routerLink="/cadto">C$ => $,€,£,¥,HK$,Rs.</a>
      </div>
      <!-- Other Currencies to CAD -->
      <div class="card card-small" >
        <a routerLink="/tocad"> $,€,£,¥,HK$,Rs. => C$</a>
      </div>
    </div>
</div>

<router-outlet></router-outlet>
